@model RestaurantMVCCodeFirst.View_Model.UserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-6">
        <div class="card shadow-lg p-4 w-100">
            <h2 class="text-center mb-4 text-primary">Forgot Password</h2>

            @if (TempData["Error"] != null)
            {
                <div class="alert alert-danger text-center">@TempData["Error"]</div>
            }

            <form asp-action="ForgotPassword" method="post">
                <div class="mb-3">
                    <label asp-for="Username" class="form-label fw-bold">Enter Username</label>
                    <input asp-for="Username" class="form-control" placeholder="Enter your username" required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary w-100">Submit</button>

                <div class="text-center mt-3">
                    <p class="text-muted">Back to <a asp-action="ResetPassword" class="text-decoration-none fw-bold">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
